@import '../../../../styles/common/variables';
@import '../../../../styles/common/mixins';

.headline {
  @include calluna-font();
  color: $primary;
  font-size: 36px;
  font-weight: bold;
}

table {
  width: 100%;
  th {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    border-color: $primary;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
  }
  td {
    padding-left: 0;
    padding-right: 0;
    border-color: gray;
    button {
      color: $primary;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .mat-column-more {
    width: 32px;
  }
}

.image {
  height: 100%;
}

img {
  height: 448px;
  width: 443px;
  margin-bottom: 75px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.delete-button {
  color: $error;
  mat-icon {
    color: $error;
  }
}
