<ng-container *transloco="let t; read: 'dataManagement.coopSpaces'">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 class="headline">{{ t('headline') }}</h1>
    <button mat-mini-fab class="mat-elevation-z0" color="primary" (click)="addCoopSpace()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="dataSource.data.length !== 0">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z0"
      *transloco="let tTable; read: 'dataManagement.coopSpaces.table'"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>{{ tTable('company') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.company }}</td>
      </ng-container>

      <!-- Member Column -->
      <ng-container matColumnDef="member">
        <th mat-header-cell *matHeaderCellDef>{{ tTable('members') }}</th>
        <td mat-cell *matCellDef="let element">{{ membersToStrings(element.members) }}</td>
      </ng-container>

      <!-- MyRole Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>{{ tTable('myRole') }}</th>
        <td mat-cell *matCellDef="let element">{{ t('role.' + element.myrole) }}</td>
      </ng-container>

      <!-- More Column -->
      <ng-container matColumnDef="more" *transloco="let tCommon; read: 'common'">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button class="delete-button" (click)="onDelete(element)" mat-menu-item>
              <mat-icon aria-hidden="false" aria-label="Mail">delete</mat-icon>
              {{ tCommon('delete') }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="openDetails(row)" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="image" *ngIf="dataSource.data.length === 0" fxLayoutAlign="center center">
    <img src="/assets/ag_kooperationsbereich_empty_state_01.png" />
  </div>
</ng-container>
