<ng-container *transloco="let tCommon; read: 'common'">
  <ng-container *transloco="let t; read: 'dataManagement.buckets.assets.dialog'">
    <h2 mat-dialog-title>{{ t('headline') }}</h2>

    <mat-dialog-content class="dialog-content"> TODO </mat-dialog-content>

    <br />
    <br />
    <mat-dialog-actions class="dialog-actions">
      <button mat-flat-button (click)="cancel()">
        {{ tCommon('cancel') }}
      </button>
      <button class="save" mat-flat-button [disabled]="!canPublish()" color="primary" (click)="save()">
        {{ tCommon('publish') }}
      </button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
