<ng-container *transloco="let tCommon; read: 'common'">
  <div
    class="wrapper"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="30px"
    *transloco="let t; read: 'dataManagement.coopSpaces.details'"
  >
    <!-- Headline -->
    <div class="card-headline" fxLayout="row" fxLayoutAlign="space-between">
      <h1>{{ t('assets') }}</h1>
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-mini-fab class="mat-elevation-z0 button32-add" color="primary" (click)="addDataset()">
          <mat-icon class="icon32-add">add</mat-icon>
        </button>
        <button mat-mini-fab class="mat-elevation-z0 button32-close-fullscreen" (click)="closeFullscreen()">
          <mat-icon class="icon32-close-fullscreen">close_fullscreen</mat-icon>
        </button>
        <!-- TODO check if this button is needed in future <button mat-mini-fab class="mat-elevation-z0 button32" (click)="navigateToDataManagement()">
          <img src="/assets/icons/icons8-data.svg" class="svg-icon" />
        </button>-->
      </div>
    </div>

    <div fxFlex="grow" class="card table-container">
      <table
        mat-table
        [dataSource]="data"
        class="mat-elevation-z0"
        *transloco="let tTable; read: 'dataManagement.coopSpaces.details.table'"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('date') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd.MM.YYYY' }}</td>
        </ng-container>

        <!-- UploadDate Column -->
        <ng-container matColumnDef="uploadDate">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('uploadDate') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.uploadDate }}</td>
        </ng-container>

        <!-- Size Column -->
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('size') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.size }}</td>
        </ng-container>

        <!-- Labeling Column -->
        <ng-container matColumnDef="labeling">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('labeling') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.labeling }}</td>
        </ng-container>

        <!-- CoopSpace Column -->
        <ng-container matColumnDef="coopSpace">
          <th mat-header-cell *matHeaderCellDef>{{ tTable('coopSpace') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.coopSpace }}</td>
        </ng-container>

        <!-- More Column -->
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Phone">edit</mat-icon>
                {{ tCommon('edit') }}
              </button>
              <button mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Mail">download</mat-icon>
                {{ tCommon('download') }}
              </button>
              <button class="delete-button" mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Mail">delete</mat-icon>
                {{ tCommon('delete') }}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDataset"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDataset"></tr>
      </table>
    </div>
  </div>
</ng-container>
