<ng-container [formGroup]="formGroup" *transloco="let t; read: 'dataManagement.policies.createPolicy'">
  <div fxLayout="column" [formArrayName]="formArrayName">
    <!-- ROW(S) -->
    <div
      fxLayout="row"
      *ngFor="let x of formArray.controls; index as i"
      [formGroupName]="i"
      class="fields"
      fxLayoutAlign="space-between"
    >
      <div *transloco="let tCommon; read: 'common'">
        <!--Left expression-->
        <mat-form-field floatLabel="never" appearance="outline">
          <mat-select formControlName="property" placeholder="{{ t('leftExpression') }}">
            <mat-option *ngFor="let leftExpression of leftExpressions"
                        [value]="leftExpression">{{ leftExpression }}</mat-option>
          </mat-select>
          <mat-error>{{ tCommon('required') }}</mat-error>
        </mat-form-field>
        <!--Operator-->
        <mat-form-field floatLabel="never" appearance="outline">
          <mat-select formControlName="operator" placeholder="{{ t('operator') }}">
            <mat-option *ngFor="let operator of operators" [value]="operator">{{ operator }}</mat-option>
          </mat-select>
          <mat-error>{{ tCommon('required') }}</mat-error>
        </mat-form-field>
        <!--Right expression-->
        <mat-form-field floatLabel="never" appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="attribute">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{ tCommon('required') }}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center center">
        <p>Human Readable Query</p>
      </div>
      <button mat-button (click)="deleteConstraint(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-button class="add-btn" (click)="addConstraint()">
      <mat-icon>add</mat-icon>
      {{ t('addConstraint') }}
    </button>
  </div>
</ng-container>
