<ng-container *transloco="let tCommon; read: 'common'">
  <ng-container *transloco="let t; read: 'dataManagement.buckets.assets.publishAssetDialog'">
    <h2 mat-dialog-title>{{ t('headline') }}</h2>
    <p>{{ t('description') }}</p>

    <mat-stepper>
      <!-- PAGE 1 -->
      <mat-step>
        <mat-dialog-content class="dialog-content">
          <div fxLayout="column" [formGroup]="formGroup">
            <mat-form-field appearance="fill" color="primary" class="bg">
              <mat-label>{{ t('fields.id') }}</mat-label>
              <input matInput formControlName="id" required />
              <mat-error *ngIf="formGroup.controls['id'].hasError('required')">{{ tCommon('required') }}</mat-error>
              <mat-hint>{{ t('fields.infoId') }}</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill" color="primary" class="bg">
              <mat-label>{{ t('fields.name') }}</mat-label>
              <input matInput formControlName="name" required />
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">{{ tCommon('required') }}</mat-error>
              <mat-hint>{{ t('fields.infoName') }}</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill" color="primary" class="bg">
              <mat-label>{{ t('fields.description') }}</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-hint>{{ t('fields.infoDescription') }}</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill" color="primary" class="bg">
              <mat-label>{{ t('fields.assetType.label') }}</mat-label>
              <mat-select formControlName="assetType">
                <mat-option>
                  {{ t('fields.assetType.' + null) }}
                </mat-option>
                <mat-option *ngFor="let assetType of assetTypes" [value]="assetType">
                  {{ t('fields.assetType.' + assetType) }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.controls['assetType'].hasError('required')">{{
                tCommon('required')
              }}</mat-error>
              <mat-hint>{{ t('fields.assetType.info') }}</mat-hint>
            </mat-form-field>
          </div>
        </mat-dialog-content>

        <mat-dialog-actions class="dialog-actions">
          <button mat-flat-button (click)="cancel()">
            {{ tCommon('cancel') }}
          </button>
          <button mat-flat-button matStepperNext [disabled]="false" color="primary">
            {{ tCommon('next') }}
          </button>
        </mat-dialog-actions>
      </mat-step>

      <!-- PAGE 2 -->
      <mat-step>
        <mat-dialog-content class="dialog-content">
          <!--TODO content-->
          <br />
          <br />
          Dummy PAGE 2
          <br />
          <br />
        </mat-dialog-content>

        <mat-dialog-actions class="dialog-actions">
          <button mat-flat-button (click)="cancel()">
            {{ tCommon('cancel') }}
          </button>
          <button mat-flat-button matStepperPrevious>{{ tCommon('back') }}</button>
          <button class="save" mat-flat-button [disabled]="false" color="primary" (click)="publishAsset()">
            {{ t('publishAsset') }}
          </button>
        </mat-dialog-actions>
      </mat-step>
    </mat-stepper>
  </ng-container>
</ng-container>
