@import '../../../../styles/common/variables';
@import '../../../../styles/common/mixins';

.headline {
  @include calluna-font();
  color: $primary;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}

table {
  width: 100%;
  th {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    border-color: $primary;
    border-width: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }
  td {
    padding-left: 0px;
    padding-right: 0px;
    border-color: gray;
    button {
      color: $primary;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .mat-column-more {
    width: 32px;
  }
}

.image {
  height: 100%;
}

img {
  height: 448px;
  width: 443px;
  margin-bottom: 75px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.delete-button {
  color: red;
  mat-icon {
    color: red;
  }
}

.list-container {
  height: 1400px;
  overflow-y: auto;
}

ul {
  list-style: none;

  li {
    padding-bottom: 25px;
    font-size: 21px;
    span {
      padding-left: 10px;
      @include calluna-font();
      color: $primary;
      font-weight: bold;
    }
    mat-icon {
      margin-bottom: -5px;
      color: $primary;
    }
  }
  li:hover {
    cursor: pointer;
  }
}
