<ng-container *transloco="let t; read: 'dataManagement.buckets'">
  <h1 class="headline">{{ t('headline') }}</h1>

  <div *ngIf="buckets.length !== 0">
    <ul>
      <li (click)="openDetails(bucket)" *ngFor="let bucket of buckets">
        <mat-icon>folder</mat-icon>
        <span>{{ bucket.name }}</span>
      </li>
    </ul>
  </div>

  <div class="image" *ngIf="buckets.length === 0" fxLayoutAlign="center center">
    <img src="/assets/ag_kooperationsbereich_empty_state_01.png" />
  </div>
</ng-container>
