<ng-container *transloco="let t; read: 'dataManagement.coopSpaces.details'">
  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="30px" *transloco="let tCommon; read: 'common'">
    <!-- Headline -->
    <div class="card-headline" fxLayout="row" fxLayoutAlign="space-between">
      <h1 class="headline">{{ coopSpace?.name ?? '...' }}</h1>
      <!-- TODO check if these buttons are needed in future <div fxLayout="row" fxLayoutGap="10px">
        <button mat-mini-fab class="mat-elevation-z0 button32" (click)="openSettings()">
          <mat-icon class="icon32">bolt</mat-icon
          >TODO Radial Progress Bar
        </button>
        <button mat-mini-fab class="mat-elevation-z0 button32" (click)="openSettings()">
          <mat-icon class="icon32">settings</mat-icon>
        </button>
      </div> -->
    </div>

    <!-- Tools & Member -->
    <div fxLayout="row" fxLayoutGap="30px">
      <!-- Dataset -->
      <div class="card" fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h3 class="headline">{{ t('assets') }}</h3>
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-mini-fab class="mat-elevation-z0 button24-add" color="primary" (click)="addDataset()">
              <mat-icon class="icon24-add">add</mat-icon>
            </button>
            <button mat-mini-fab class="mat-elevation-z0 button24" color="primary" (click)="openInFull()">
              <mat-icon class="icon24-arrow">open_in_full</mat-icon>
            </button>
            <!-- TODO check if this button is needed in future <button mat-mini-fab class="mat-elevation-z0 button24" color="primary" (click)="addTool()">
              <img src="/assets/icons/icons8-data.svg" class="svg-icon" />
            </button>-->
          </div>
        </div>

        <!-- Dataset Table -->
        <div class="table-container">
          <table
            mat-table
            [dataSource]="datasetDatasource"
            class="mat-elevation-z0"
            *transloco="let tTable; read: 'dataManagement.coopSpaces.details.table'"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('date') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd.MM.YYYY' }}</td>
            </ng-container>

            <!-- MyRole Column -->
            <ng-container matColumnDef="labeling">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('labeling') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.labeling }}</td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Phone">edit</mat-icon>
                    {{ tCommon('edit') }}
                  </button>
                  <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Mail">download</mat-icon>
                    {{ tCommon('download') }}
                  </button>
                  <button class="delete-button" mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Mail">delete</mat-icon>
                    {{ tCommon('delete') }}
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDataset"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDataset"></tr>
          </table>
        </div>
      </div>

      <!-- Member -->
      <div class="card" fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h3 class="headline">{{ t('member') }}</h3>
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-mini-fab class="mat-elevation-z0 button24-add" color="primary" (click)="addMember()">
              <mat-icon class="icon24-add">add</mat-icon>
            </button>
            <button mat-mini-fab class="mat-elevation-z0 button24" color="primary" (click)="onMore()">
              <mat-icon class="icon24-more">more_horiz</mat-icon>
            </button>
          </div>
        </div>

        <!-- Member Table -->
        <div class="table-container">
          <table
            mat-table
            [dataSource]="this.coopSpace?.members ?? []"
            class="mat-elevation-z0"
            *transloco="let tTable; read: 'dataManagement.coopSpaces.details.table'"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('company') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.company }}</td>
            </ng-container>

            <!-- MyRole Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('role') }}</th>
              <td mat-cell *matCellDef="let element">{{ t('role.' + element.role) }}</td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Phone">edit</mat-icon>
                    {{ tCommon('edit') }}
                  </button>
                  <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Mail">download</mat-icon>
                    {{ tCommon('download') }}
                  </button>
                  <button class="delete-button" mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Mail">delete</mat-icon>
                    {{ tCommon('delete') }}
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMember"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMember"></tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Dataset (& empty space)-->
    <!-- fxLayoutGap="30px not needed cause there is one element only instead of two-->
    <div fxLayout="row" fxLayoutGap="30px">
      <!-- placehodler-->
      <div fxFlex="50" style="padding: 15px"></div>
    </div>
  </div>
</ng-container>
