@import '../../../../../styles/common/variables';
@import '../../../../../styles/common/mixins';

.card-headline {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  h1 {
    @include calluna-font();
    color: $primary;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0px;
  }
  .button32 {
    background-color: white;
    width: 32px;
    height: 32px;
    border: 3px solid $primary !important;
  }
  .icon32 {
    font-size: 22px;
    margin-top: -12px;
    color: $primary;
  }
}

.table-container {
  overflow-y: auto;
}

table {
  background-color: white;
  width: 100%;
  th {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    border-color: $primary;
    border-width: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }

  td {
    padding-left: 0px;
    padding-right: 0px;
    border-color: gray;
    button {
      color: $primary;
      background-color: transparent;
      border: none;
    }
  }

  .mat-column-more {
    width: 32px;
  }
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 6px;

  h3 {
    color: $primary;
    font-weight: bold;
  }
}

.button24 {
  background-color: white;
  width: 24px;
  height: 24px;
  border: 2px solid $primary !important;
}

.icon24-more {
  font-size: 19px;
  color: $primary;
  margin-top: -15px;
  margin-left: -2px;
}

.icon24-arrow {
  font-size: 16px;
  color: $primary;
  margin-top: -12px;
  margin-left: -2px;
}

.button24-add {
  background-color: $primary;
  width: 24px;
  height: 24px;
}

.icon24-add {
  font-size: 16px;
  font-weight: bold;
  margin-top: -8px;
  margin-right: -1px;
  color: white;
  background-color: transparent;
}

.svg-icon {
  filter: $primary-filter;
  margin-top: -20px;
  height: 18px;
  width: 18px;
}

.delete-button {
  color: red;
  mat-icon {
    color: red;
  }
}

.download-button {
  mat-icon {
    color: $primary;
  }
}

.headline {
  height: 32px;
}

.file-input {
  display: none;
}

.upload-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  p {
    margin: 0 0 0 8px;
  }
}

.upload-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.more_vert_class:hover {
  cursor: pointer;
}

::ng-deep.mat-menu-panel {
  min-height: 0px !important;
}

.navigate-back-button {
  background-color: white;
  height: 30px;
  width: 40px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.navigate-back-button:hover:not([disabled]) {
  background-color: lightgray;
}

.navigate-back-button:disabled {
  cursor: default;
  background-color: transparent;
}

.subfolder-hover:hover {
  cursor: pointer;
}

.row:hover {
  background-color: lightgray;
}

.folder-icon {
  margin-top: -2px;
  margin-right: 5px;
}
