<ng-container *transloco="let t; read: 'dataManagement.coopSpaces.details'">
  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="30px" *transloco="let tCommon; read: 'common'">
    <!-- Headline -->
    <div class="card-headline" fxLayout="row" fxLayoutAlign="space-between">
      <h1 class="headline">{{ coopSpace?.name ?? '...' }}</h1>
    </div>

    <!-- Assets & Member -->
    <div fxLayout="row" fxLayoutGap="30px">
      <!-- Assets -->
      <div class="card" fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h3 class="headline">{{ t('assets') }}</h3>
          <div *ngIf="isUploading || isDownloading || isDeletingAsset" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
            <mat-spinner [diameter]="35"></mat-spinner>
            <div *ngIf="isUploading" fxLayout="column" fxLayoutAlign="center center">
              <div>{{ t('ongoingUpload1') }}</div>
              <div>{{ t('ongoingUpload2') }}</div>
            </div>
            <div *ngIf="isDeletingAsset" fxLayout="column" fxLayoutAlign="center center">
              <div>{{ t('ongoingAssetDeletion') }}</div>
            </div>
            <div *ngIf="isDownloading" fxLayout="column" fxLayoutAlign="center center">
              <div>{{ t('ongoingAssetDownload') }}</div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <button
              mat-mini-fab
              class="mat-elevation-z0 button24-add"
              color="primary"
              [matMenuTriggerFor]="menuForUpload"
            >
              <mat-icon class="icon24-add">add</mat-icon>
            </button>
            <mat-menu #menuForUpload="matMenu">
              <!-- actual input for file upload is hidden because it is hard to style -->
              <div>
                <input type="file" multiple class="file-input" (change)="onFileSelected($event)" #fileUpload />
              </div>
              <div>
                <button class="upload-button" (click)="fileUpload.click()">
                  <mat-icon>upload</mat-icon>
                  <p>{{ t('uploadFile') }}</p>
                </button>
              </div>
            </mat-menu>
          </div>
        </div>

        <!-- Assets Table -->
        <div class="table-container">
          <table
            mat-table
            [dataSource]="datasetDatasource"
            class="mat-elevation-z0"
            *transloco="let tTable; read: 'dataManagement.coopSpaces.details.table'"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('date') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd.MM.YYYY' }}</td>
            </ng-container>

            <!-- Size Column -->
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('size') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.size }}</td>
            </ng-container>

            <!-- MyRole Column -->
            <ng-container matColumnDef="labeling">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('labeling') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.labeling }}</td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more" *transloco="let tCommon; read: 'common'">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                <button [matMenuTriggerFor]="menu" class="more_vert_class">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="download-button"  (click)="downloadAsset(element)">
                    <mat-icon>download</mat-icon>
                    {{ tCommon('download') }}
                  </button>
                  <button mat-menu-item class="delete-button" (click)="deleteAsset(element)">
                    <mat-icon>delete</mat-icon>
                    {{ tCommon('delete') }}
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDataset"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDataset"></tr>
          </table>
        </div>
      </div>

      <!-- Member -->
      <div class="card" fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h3 class="headline">{{ t('member') }}</h3>
          <div
            *ngIf="isAddingMember || isDeletingMember"
            fxLayout="row"
            fxLayoutGap="15px"
            fxLayoutAlign="center center"
          >
            <mat-spinner [diameter]="35"></mat-spinner>
            <div *ngIf="isAddingMember; else ongoingMemberDeletion" fxLayout="column" fxLayoutAlign="center center">
              <div>{{ t('ongoingAdditionOfMembers') }}</div>
            </div>
            <ng-template #ongoingMemberDeletion>
              <div>{{ t('ongoingMemberDeletion') }}</div>
            </ng-template>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <button
              mat-mini-fab
              class="mat-elevation-z0 button24-add"
              color="primary"
              [disabled]="!isAdmin()"
              (click)="openAddMembersAfterwardsDialog()"
            >
              <mat-icon class="icon24-add">add</mat-icon>
            </button>
          </div>
        </div>

        <!-- Member Table -->
        <div class="table-container">
          <table
            mat-table
            [dataSource]="memberDatasource"
            class="mat-elevation-z0"
            *transloco="let tTable; read: 'dataManagement.coopSpaces.details.table'"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('company') }}</th>
              <td mat-cell *matCellDef="let element">{{ element.company }}</td>
            </ng-container>

            <!-- Role -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>{{ tTable('role') }}</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isAdmin() && element.name !== fullName">
                  <mat-form-field>
                    <mat-select
                      #roleSelect
                      [(ngModel)]="element.role"
                      (focus)="originalRole = element.role"
                      (ngModelChange)="onRoleChange(originalRole, element)"
                    >
                      <mat-option *ngFor="let role of roles" [value]="role">
                        {{ t('role.' + role) }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="!isAdmin() || element.name === fullName">
                  {{ t('role.' + element.role) }}
                </ng-container>
              </td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button [matMenuTriggerFor]="menu" mat-menu-item>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    [class.delete-button]="isAdmin()"
                    [disabled]="!isAdmin() || element.name === fullName"
                    (click)="isAdmin() && onDeleteMember(element)"
                  >
                    <mat-icon aria-hidden="false" aria-label="Mail">delete</mat-icon>
                    {{ tCommon('delete') }}
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMember"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMember"></tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Dataset (& empty space)-->
    <!-- fxLayoutGap="30px not needed cause there is one element only instead of two-->
    <div fxLayout="row" fxLayoutGap="30px">
      <!-- placehodler-->
      <div fxFlex="50" style="padding: 15px"></div>
    </div>
  </div>
</ng-container>
