<app-create-edit-dialog
  [title]="t('new')"
  [formGroup]="formGroup"
  (saveEvent)="onSave()"
  *transloco="let t; read: 'dataManagement.coopSpaces.createCoopSpaces'"
  class="admin-module"
>
  <ng-container fields>
    <div fxLayout="column" *transloco="let tCommon; read: 'common'">
      <mat-form-field appearance="fill" color="primary">
        <mat-label>{{ t('company') }}</mat-label>
        <input matInput formControlName="company" required />
        <mat-error *ngIf="formGroup.controls['company'].hasError('required')">{{ tCommon('required') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary">
        <mat-label>{{ t('coopSpaceName') }}</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="formGroup.controls['name'].hasError('required')">{{ tCommon('required') }}</mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</app-create-edit-dialog>
