@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

.mat-toolbar {
  background-color: white;

  button {
    background-color: transparent;
    border: none;
    color: $gray;
  }

  .logo {
    height: 44px;
  }

  .logo-container {
    margin-top: 15px;
    width: 240px;
  }

  .headbar-container {
    padding-left: 32px;
  }

  .save-icon {
    font-size: 25px;
  }

  .form-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  input {
    color: $gray;
  }

  .half-width {
    width: 50%;
  }
}
