@import '../../../../../styles/common/variables';
@import '../../../../../styles/common/mixins';

.card-headline {
  background-color: white;
  border-radius: 6px;
  h1 {
    @include calluna-font();
    color: $primary;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.table-container {
  overflow-y: auto;
}

table {
  width: 100%;
  th {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    border-color: $primary;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
  }

  td {
    padding-left: 0;
    padding-right: 0;
    border-color: gray;
    button {
      color: $primary;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .mat-column-more {
    width: 32px;
  }
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

.delete-button {
  color: $error;
  mat-icon {
    color: $error;
  }
}

.file-input {
  display: none;
}

.upload-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  p {
    margin: 0 0 0 8px;
  }
}

.generate-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  p {
    margin: 0 0 0 8px;
  }
}

.generate-button:hover,
.upload-button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.generate-button:hover p,
.upload-button:hover p {
  color: black;
}

::ng-deep.mat-menu-panel {
  min-height: 0px !important;
}
