@import '../../../../../styles/common/variables';
@import '../../../../../styles/common/mixins';

.card-headline {
  background-color: white;
  border-radius: 6px;
  h1 {
    @include calluna-font();
    color: $primary;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.table-container {
  overflow-y: auto;
}

table {
  background-color: white;
  width: 100%;
  th {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    border-color: $primary;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
  }

  td {
    padding-left: 0;
    padding-right: 0;
    border-color: gray;
    button {
      color: $primary;
      background-color: transparent;
      border: none;
    }
  }

  .mat-column-buttons {
    width: 80px;
  }
}

.card {
  background-color: white;
  height: 325px;
  padding: 15px;
  border-radius: 6px;
}

.delete-button {
  color: $error;
  mat-icon {
    color: $error;
  }
}
