<ng-container *transloco="let t; read: 'dataManagement.buckets.assets'">
  <div fxLayout="column" fxLayoutAlign="space-between" *transloco="let tCommon; read: 'common'">
    <!-- Headline -->
    <div class="card-headline" fxLayout="row" fxLayoutAlign="space-between">
      <h1 class="headline">{{ bucket ?? '...' }}</h1>
      <div
        *ngIf="currentLoadingType !== 'NOT_LOADING'"
        [ngSwitch]="currentLoadingType"
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
      >
        <mat-spinner [diameter]="35"></mat-spinner>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div *ngSwitchCase="'GENERATING_KEYS'">{{ t('ongoingGeneration') }}</div>
          <ng-container *ngSwitchCase="'UPLOADING_ASSET'">
            <div>{{ t('ongoingUpload1') }}</div>
            <div>{{ t('ongoingUpload2') }}</div>
          </ng-container>
          <div *ngSwitchCase="'DELETING_ASSET'">{{ t('ongoingDeletion') }}</div>
        </div>
      </div>
      <button mat-mini-fab class="mat-elevation-z0" color="primary" [matMenuTriggerFor]="menuForUpload">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menuForUpload="matMenu">
        <!-- actual inputs for file and folder upload are hidden because it is hard to style -->
        <div fxLayout="column">
          <input type="file" multiple class="file-input" (change)="onFileOrFolderSelected($event)" #fileUpload />
          <input
            type="file"
            multiple
            class="file-input"
            (change)="onFileOrFolderSelected($event)"
            webkitdirectory
            directory
            #folderUpload
          />
          <button class="upload-button" (click)="fileUpload.click()">
            <mat-icon>upload</mat-icon>
            <p>{{ t('uploadFile') }}</p>
          </button>
          <button class="upload-button" (click)="folderUpload.click()">
            <mat-icon>drive_folder_upload</mat-icon>
            <p>{{ t('uploadFolder') }}</p>
          </button>
          <button class="generate-button" (click)="openGenerateKeysDialog()">
            <mat-icon class="generate-button-icon">vpn_key</mat-icon>
            <p>{{ t('bucketAccess') }}</p>
          </button>
        </div>
      </mat-menu>
    </div>

    <!-- Show current path and provide option for navigating 'upwards' -->
    <br />
    <div fxLayout="row" fxLayoutGap="15px">
      <button class="navigate-back-button" (click)="navigateBack()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <h2>{{ bucket }}/{{ currentRoot }}</h2>
    </div>

    <!-- Dataset -->
    <div class="card" fxLayout="column">
      <!-- Dataset Table -->
      <div class="table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z0"
          *transloco="let tTable; read: 'dataManagement.buckets.assets.table'"
        >
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ tTable('name') }}</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ tTable('date') }}</th>
            <td mat-cell *matCellDef="let element" [innerHtml]="formatDate(element?.asset?.date)"></td>
          </ng-container>

          <!-- Size Column -->
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>{{ tTable('size') }}</th>
            <td mat-cell *matCellDef="let element" [innerHtml]="formatSize(element?.asset?.size)"></td>
          </ng-container>

          <!-- isPublished Column -->
          <ng-container matColumnDef="isPublished">
            <th mat-header-cell *matHeaderCellDef>{{ tTable('isPublished') }}</th>
            <td mat-cell *matCellDef="let element" [innerHtml]="formatIsPublished(element?.asset?.isPublished)"></td>
          </ng-container>

          <ng-container matColumnDef="more" *transloco="let tCommon; read: 'common'">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  *ngIf="!element?.isFolder"
                  mat-menu-item
                  [disabled]="element?.asset?.isPublished"
                  (click)="publishAsset(element)"
                >
                  <mat-icon color="primary">publish</mat-icon>
                  {{ t('publishFile') }}
                </button>
                <button
                  *ngIf="!element?.isFolder"
                  mat-menu-item
                  [disabled]="!element?.asset?.isPublished"
                  class="delete-button"
                  (click)="unpublishAsset(element.asset)"
                >
                  <!-- TODO: Get a better icon.-->
                  <mat-icon>unpublished</mat-icon>
                  {{ t('unpublishFile') }}
                </button>
                <button
                  mat-menu-item
                  class="delete-button"
                  [disabled]="element?.asset?.isPublished"
                  (click)="deleteElement(element)"
                >
                  <mat-icon>delete</mat-icon>
                  {{ tCommon('delete') }}
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDataset"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDataset" (click)="openIfFolder(row)"></tr>
        </table>
      </div>
    </div>
  </div>
</ng-container>
