@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

@mixin menu-item-font() {
  @include calluna-font();
  color: $primary;
  font-weight: bold;
  font-size: 18px;
}

// SVG filter for #889F9A
$external-link-icon-filter: invert(67%) sepia(6%) saturate(692%) hue-rotate(117deg) brightness(92%) contrast(83%);

.menu-container {
  width: 295px;
  height: 100%;
}

.mini-menu-container {
  width: 75px;
  height: 100%;
}

.mini-mat-navlist {
  img,
  mat-icon {
    margin-left: 10px;
  }
}

.toggle-menu-button {
  border-style: none;
  background-color: transparent;

  mat-icon {
    margin-right: 10px;
    color: $gray;
  }
}

.toggle-menu-text {
  @include calluna-font();
  color: $gray;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.current-user {
  margin-top: 30px;
  margin-bottom: 17px;
  padding-left: 16px;
  padding-right: 2px;

  a {
    text-decoration-line: none;
  }

  .image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }

  .name {
    @include menu-item-font();
  }

  .active-link .name {
    color: $accent;
  }

  .email {
    font-size: 12px;
    font-weight: normal;
    font-family: unset;
    color: $gray;
  }

  .collapsed-menu-logout {
    a {
      margin-bottom: -8px;
    }

    button {
      padding: 0 0 0px 7px;
    }
  }
}

.mat-nav-list {
  height: 100%;
  padding-top: 0px;

  .mat-list-item {
    @include menu-item-font();
    height: 50px;

    &.active-link {
      color: $accent;
      .menu-svg-icon {
        filter: $accent-filter;
      }
    }

    .mat-icon,
    .menu-svg-icon {
      margin-right: 10px;
    }

    .suffix-icon {
      margin-left: 10px;
      margin-right: 0px;
    }

    .menu-svg-icon {
      height: 24px;
      width: 24px;

      filter: $primary-filter;

      &.suffix-icon {
        filter: $external-link-icon-filter;
      }
    }

    &.mat-list-item-disabled {
      background-color: white;
      color: $gray;

      .menu-svg-icon {
        filter: $gray-filter;
      }
    }

    &:last-child {
      margin-bottom: 12px;
    }
  }

  .mat-divider {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
