@import 'src/styles/common/_variables.scss';
@import 'src/styles/common/_mixins';

.dialog-content {
  flex-grow: 1;
}

.dialog-actions {
  justify-content: flex-end;
}

h2 {
  @include calluna-font();
  color: $primary;
  font-weight: bold;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none;
}

