<div fxLayout="column" *transloco="let t; read: 'dataManagement.coopSpaces.createCoopSpaces'">
  <h3>{{ t('addMembers') }}</h3>
  <p>
    {{ t('addMembersInfo') }}
  </p>

  <!-- SEARCH -->
  <!-- TODO fix show input text (is currently cut off)-->
  <div fxFlex class="form-container">
    <form>
      <mat-form-field class="search" [formGroup]="searchFromGroup">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <input matInput formControlName="searchTerm" value="Suche" placeholder="{{ t('search') }}" />
        <button *ngIf="false" mat-button matSuffix mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <br />

  <!-- LIST OF MEMBERS-->
  <mat-divider></mat-divider>
  <div fxLayout="column">
    <span *ngFor="let member of members; let i = index">
      <div
        class="current-user"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        *transloco="let tCommon; read: 'common'"
        [formGroup]="formGroups[getInitialIndexOfMember(member)]"
        fxLayoutGap="20px"
      >
        <mat-checkbox color="primary" ngDefaultControl formControlName="selected"></mat-checkbox>

        <a
          style="pointer-events: none"
          routerLink="#"
          routerLinkActive="active-link"
          fxFlex="grow"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <!-- TODO: maybe use company logos instead? -->
          <!--          <img class="image" src="/assets/dummy_avatar_hank_scorpio.png" /> -->
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="5px">
              <div class="name">{{ member.name }}</div>
              <div class="company">{{ member.company }}</div>
            </div>
            <div class="email">{{ member.email }}</div>
          </div>
        </a>

        <!-- TODO The admin has no checkbox! This has to be adjusted. Possibly with ngIfs...-->
        <mat-form-field class="selector" *transloco="let tCoopSpaceRoles; read: 'dataManagement.coopSpaces.role'">
          <mat-select formControlName="role" required>
            <mat-option *ngFor="let role of roles" [value]="role">
              <span>{{ tCoopSpaceRoles(role) }}</span>
            </mat-option>
          </mat-select>
          <mat-error>{{ tCommon('required') }}</mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </span>
  </div>
</div>
